body {
    font-family: "Reddit Mono", monospace;
}
.reddit-mono {
                  font-family: "Reddit Mono", monospace;
                  font-optical-sizing: auto;
                  font-weight: 400;
                  font-style: normal;
              }


#USERS-h1 {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
#userList {
    display: flex;
    flex-wrap: wrap;            /*Елементи будуть йти в новий рядок, якщо вони не вміщаються в один*/
}
.user-block {
    /*background-color: rgb(121, 208, 208);*/
    background: linear-gradient(10deg, #06f6df, #fdd4db);

    border: 3px solid #3b7a78;
    border-radius: 2em 1em 4em / 0.5em 3em;
    box-shadow: rgba(69, 108, 105, 0.7) 0.5em 0.5em 0.3em;

    padding: 20px;
    margin: 10px 30px;
    width: 45%;                 /*можна замінити це на:   width: calc(50% - 40px);*/
    box-sizing: border-box;
    text-align: center;
}
.user-block button {
    width: 50%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 1em;
    background-color: rgb(208, 245, 245);
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    font-weight: bold;
}


/*width: calc(50% - 40px);    ширина елемента має бути 50% від ширини батьківського елемента і від цієї
ширини (50% від батьківського елемента) потрібно відняти 40 px.*/